<h1 align = "center"> Python Assignment_1 </h1>

###  1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

####  <font color=blue> _Answer_ </font>

|      Value         | Expression         |
|--------------------|--------------------|
|'hello'             | *                  |
|-87.8               | -                  |
| 6                  |  /                 |
|                    |  +                 |

### 2. What is the difference between string and variable?

####  <font color=blue> _Answer_ </font>

<table style ="width 70%">
    <tr>
        <th> String </th>
        <th> Variable </th>
    </tr>
    <tr>
        <td> Anything you assign to variable using single or double quotes will be considered as a string </td>
        <td> Variable as an identifier to store a value in memorylocation and manuplulation in neccessory  </td>
    </tr>
    <tr>
        <td>Python String are immutable which mean they cannot be changed after they are created </td>
        <td> To create a variable you just assign value and then start using it. assignment is done with equal to sign(=)   </td>
    </tr>
    <tr>
        <td>Example of String: <br> "Have a nice day" </td>
        <td> Example of Variable <br> a= 5  </td>
    </tr>
</table>

### 3. Describe three different data types.

####  <font color=blue> _Answer_ </font>

__Numerical data type__
1. Integer 
    - It is numerial datatype. It contains positive or negative whole numbers (without fractions or decimals).
    - Python, there is no limit to how long an integer value can be.
    
    

2. Float 
    - Floting point number is number either positive or negative and it contain one or more decimal



3. Complex number
    - complex number contain an order pair i.e. x+iy where x is real part and y is imaginary part
    - In python imaginary part is denoted by j

In [11]:
# Int Data type
Number = 123
print(type(Number))

<class 'int'>

In [12]:
#Floating point number 
Number = 20.25
print(type(Number))

<class 'float'>

In [13]:
# complex number
Number = 1+4j
print(type(Number))

<class 'complex'>

__String__
- The String can be defined as the Sequence of characters represented in the quotation marks in Python.
- we can use single, double or Tripl quotes to define a string. To Concatenate the Two string a we can use +.

In [8]:
s1 = "Hello Guys"
print(type(s1))

<class 'str'>

__Boolean__
- Boolean type provides two built- in value True and False.
- These values are used to determine the given statement true or false it denotes by the bool class

In [9]:
b = True
print(type(b))

<class 'bool'>

### 4. What is an expression made up of? What do all expressions do?

####  <font color=blue> _Answer_ </font>

- An expression is a combination of operators and operands that is interpreted to produce some other value. In any programming language, an expression is evaluated as per the precedence of its operators.  
- So that if there is more than one operator in an expression, their precedence decides which operation will be performed first.
- There are 4 types of expression
  1. __Arithmatic Expression:__ 
      - Evaluate single arithmatic value
  2. __Relational Expression:__ 
      - Use to compare two value result in either True or False
  3. __Logical Expression:__ 
      - It basically specify one ore more condition result in either true or flase
  4. __Bitwise Expression:__ 
      - It perform computation on bit level

In [1]:
# Arithmetic Expressions
x = 40
y = 12
  
add = x + y
sub = x - y
pro = x * y
div = x / y
  
print('Adiition :', add)
print('Substraction:',sub)
print('multiplication: ',pro)
print('Division:',div)

Adiition : 52
Substraction: 28
multiplication:  480
Division: 3.3333333333333335

In [2]:
# Relational Expression 
condition= (10>20)
print(condition)
equal = (45==45)
print(equal)

False
True

In [4]:
#logical Expression 
p = 10
q = 15
r = 5
s = 20
result = p > q and r > s
print("Logical expression (p > q and r > s) returns ", result)

Logical expression (p > q and r > s) returns  False

In [3]:
# Bitwise Expressions
a = 12
  
x = a >> 2 # 12 as binary 1100 shift to right by 2
           # 1100>>2 : 0011
y = a << 1 # 12 as binary 1100 shift to left by 1
           # 1100<< 1:11000

print(x, y)

3 24

 ### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

####  <font color=blue> _Answer_ </font>

1. __Expression__
    - An expression is a piece of code that produces a value. We often say that expression can be evaluated (or reduced) to a value.
    - So an expression is anything that results in a value.
    - For example, this simple addition (1+3) is an expression, as it evaluates a value of 5.
    - The Evaluation of an expression does not changes state and produces at least one value as a result
    - The evaluated result either return to a funcation call or displays at the python prompt
    - A Value or a Variable all by iteself is also considerd an expression, because these always evaluates to itself
    


2. __Statement__
    - A statement is a piece of code that does something.
    - It performs action(s) or instruction(s) that has an effect.
    - Any instruction that python interprter can execute is called a Statement. 
    - A Statement is the smallest executable uint of code that has an effect like creating a variable or displaying a value Each and every line of code that we written in any programming language is called a statement Because all the line are ececutable by the interpreter or compiler of that programming language

### 6. After running the following code, what does the variable bacon contain?

####  <font color=blue> _Answer_ </font>

In [6]:
bacon = 22
bacon + 1
print("Answer = ",bacon)

Answer =  22

- As the bacon + 1 expression does not reassign the value in bacon bacon value remain unchanged
- (this would need an assignment statement: bacon = bacon + 1)

### 7. What should the values of the following two terms be?

####  <font color=blue> _Answer_ </font>

In [10]:
'spam'+'spamspam'

'spamspamspam'

In [11]:
'spam'*3

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

####  <font color=blue> _Answer_ </font>

- A variable name and an identifier can consist of:
    - the uppercase letters "A" through "Z" 
    - the lowercase letters "a" through "z" 
    - the underscore _ and, except for the first character, 
    - the digits 0 through 9. 
    - Python 3.x is based on Unicode. That is, variable names and identifier names can additionally contain Unicode characters as well.
    
- Here eggs is valid becuse of it satisfy the above condtion. i.e. eggs consistes of lower case and first character does not start with number
- But in the second example 100 does not follow the condition and also first charater is start with number so that why this is invalid

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

####  <font color=blue> _Answer_ </font>

The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them respectively.

### 10. Why does this expression cause an error? How can you fix it?

####  <font color=blue> _Answer_ </font>

__'I have eaten ' + 99 + ' burritos.'__
- this expression cause an error because concation of string with other data type is invalid
- the problem can be solved by typcasting (methode to convert one datatype to another) 
- i.e. changing the datatype of 99 from integer to string

In [14]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'